*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'poppins', sans-serf;
	text-decoration:none;
	list-style:none;
	
}
h1, h3{
	text-align: center;
}

.header{
	position:flex;
	top:0;
	left:0;
	width:100%;
	padding:35px 12%;
	background-color:#003243;
	backdrop-fliter: blur(10px);
	display: fixed;
	justify-content: spare-between;
	align-items: center;
	z-index: 100;
	float: right;
}
.heading{
	color:white;
}
.logo{
	font-size: 25px;
	color: white;
	font-weight: 600;
	transition: 0.3s ease;
	float:left;
}
.logo:hover{
	color: orange;
	text-shadow: 0 0 25px orangered.
				 0 0 0px orangered;
	transform: scale(1.1);
} 
span{
	color: orangered;
}

.navbar{
	float: left;
	display: inline;
	font-size: 18px;
	color: white;
	text-color:white;
	font-weight: 500;
	margin: 0 200px;
	border-bottom: 3px solid transparent;
	transition: 0.3s ease;
}
.active{
	margin :5px; 
	padding: 5px 10px;
	background-color: orangered;
	color: white;
	border: 2px solid transparent;
	border-radius: 8px;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 600;
	float: left; 
}
.pro{
	margin :5px;
 	padding: 5px 10px;
	background-color: orangered;
	color: white;
	border: 2px solid transparent;
	border-radius: 8px;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 600;
	float: left; 
}
.ex{
	margin :5px;
 	padding: 5px 10px;
	background-color: orangered;
	color: white;
	border: 2px solid transparent;
	border-radius: 8px;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 600;
	float: right; 
}




.pro:hover{
	background-color: white;
	color: black;
}
.ex:hover{
	background-color: white;
	color: black;
	}
.active:hover{
	background-color: white;
	color: black;
	}

.contact{
	padding:15px;
	background-color: white;
	color: black;
	border: 2px solid transparent;
	border-radius: 8px;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 600;
	transition: 0.3s;
	float: right;
}
.contact:hover{
	background-color: orangered;
	box-shadow:0 0 25px orangered;
	color: white;
}
.home{
	padding:25px;
	width : 100%;
	min-height: 100vh;
	background: rgb(241, 241, 241);
	display: flex;
	align-items: center;
	gap: 7em;
	padding: 30px 12% 0;
}
.home-content{
	max-height: auto;
}

.home-content h3{
	font-size: 42px;
}
.home-content h1{
	font-size: 62px;
	line-height: 1.2;
}
.home-content p{
	font-size: 18px;
	margin: 25px 0 30px;
}

.project-content{
	max-height: 1500px;
}

.project-content h3{
	font-size: 35px;
	text-align: center;
}

.project-content h1{
	font-size: 40px;
	line-height: 1.2;
	text-align: center;
}
.project-content p{
	font-size: 18px;
	margin: 25px 0 30px;
	text-align: center;
}
.in{	
	border: 1px solid black;
	background-color:#003243 ;
}
.btn-box{
	width: 345px;
	display: flex;
	gap: 2em;
}
.btn3{
	text-align: center;
	width: 345px;
	display: flex;
	gap: 2em;
}
.btn-1{
	padding: 15px 28px;
	background-color: black;
	color: white;
	border: 2px solid transparent;
	border-radius: 8px;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 600;
	transition: 0.3s ease;
	cursor: pointer;
}
.btn-1:hover{
	background-color: orangered;
	color: white;
}
.btn-2{
	padding: 15px 28px;
	background-color: orangered;
	color: black;
	border: 2px solid transparent;
	border-radius: 8px;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 600;
	transition: 0.3s ease;
	cursor: pointer;
}
.btn-2:hover{
	background-color: white;
	color:orangered;
}
.btn-3{
	padding: 15px 28px;
	background-color: white;
	color: orangered;
	border: 2px solid transparent;
	border-radius: 8px;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 600;
	transition: 0.3s ease;
	cursor: pointer;
	text-align: center;
}
.btn-3:hover{
	background-color: orangered;
	color:white;
}
.img-box img{
	border-radius: 50%;
	width: 300px;
}
::-webkit scrollbar{
    width: 15px;
}
:: -webkit scrollbar-thumb{
    background-color: orangered;
}
::-webkit-scrollbar-track{
    background-color:rgb(0,0,0.6);
    width:50px;
}
.about {
    display :flex;
    justify-content:center;
    align-item:center ;
    padding:18px 2%;
    text-shadow: 0 0 25px orangered.
				          0 0 50px orangered;
	background-color:#003243;
}
.about-img img{
    position : relative ;
    width:200px;
    text-shadow: 0 0 25px orangered.
				          0 0 50px orangered; 
	border-radius: 50%;     
	height:200px;
}
.about-content h3{
    color:white;
    font-size: 62px;  
}
.about-content p{
    color:white;
    font-size: 20px; 
    margin:2em 0 3em;
}
.contact-form{
	padding:15px;
    text-align:center;
    marign-top:3em;
    margin-buttom:1em;
    font-size:36px;
    
}
.contact-form form{
    max-width:100em;
    margin:1rem;
    text-align:center;
    margin-buttom:3em;
    Padding: 10px;
}
.contact-form form  .input-box{
    display :flex;
    justify-content:center;
    flex-wrap:wrap;
}
. contact-form form .input-box input, 
. contact-form form textarea{
    Width:100%;
    Padding:1.5em;
    Font-size: 18px;
    Color: black;
    Background: rgb(241, 241, 241);
    border-radius:.8rem;
    Margin:1rem 0;
    resize:none;
    
}
. footer{
    position :relative ;
    bottom :0;
    width:100%;
    padding : 40px 0;
    background-color: black ;
}
 .social {
    text-align:center;
    padding-bottom: 25px;
    color : white ;
}
.info{
	text-align: center;
	color: blue;
}
. footer .social a{
    font-size:100%;
    color :black;
    border:2px solid orangered;
    width:40px;
    height :40px;
    line-height:38px;
    display : inline-block;
    text-align:center ;
    border-radius:50%;
    margin:0 8px;
    box-shadow: insert 0 0 10px orangered, 0 0 10px orangered;
    transition : 0.3s ease;
    
}
. footer .social a:hover{
    transform:scale(1.2) translateY(-10px);
    color: orangered;
    border:2px solid orangered;
}
. footer ul{
    margin-top:0;
    padding:0;
    font-size:18px;
    inline-height:1.6;
    margin-bottom:0;
    text-align:center;
}
.footer ul li a{
    color: blue;
    border-bottom: 3px solid transparent ;
    transition : 0.3s ease;
}
.footer ul li a:hover{
    border-bottom:3px solid orangered;
    
}
.footer ul li{
    display :inline;
    padding :0 15px;
}
.copyright {
    margin-top:15px;
    text-align:center;
    font-size:12px;
    color:black;
}

ul {
  text-align:center;
}
.number{
    text-align:center;
	padding-top:10px;
} 
.name{
    text-align:center;
	padding-top:10px;
}
.subject{
    text-align:center;
	padding-top:10px;
}
.message {
    text-align:center;
	padding-top:10px;
}
.submit{
    text-align:center;
	padding-top:10px;
}
.footer p{
	border-bottom: 1px black;
	padding: 5px ;
	text-align:center;
}

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}
.testimonial-col p{
    padding: 0;
}
testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonial-col .fa{
    color: #f44336;
}
@media(max-width:700px){
    .testimonial-col img{
        margin-left:0px;
        margin-right: 30px;
    }
}
